/*************** Reset *********************/
img {
  width: 100%;
  height: auto;
  display: block;
  padding: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8e696;
}

/*************** menu *******************/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  border: 5px;
  border-radius: 80px;
  background-color: lightsteelblue;
  border-width: 5px;
  border-color: #d97014;
  border-style: solid;
}

.logo a {
  font-family: "josefin sans";
  font-size: 15px;
  color: #592f0a;
  font-style: italic;
  text-decoration: none;
  background-color: #b0c4de;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  font-family: "Hiragino Sans GB";
  font-size: 15px;
  font-style: normal;
  display: block;
  padding: 20px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: rgb(201, 134, 85);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/************************ web fonts ********************/
@font-face {
  font-family: "BowlyOne-Regular";
  src: url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=News+Cycle:wght@400;700&display=swap");
  font-weight: normal;
  font-style: normal;
}
/*************** Forside *********************/
h1 {
  font-family: "Bowlby One";
  font-size: 45px;
  font-style: normal;
  color: #a61f1f;
  text-align: center;
  font-weight: 900;
  margin: 20px;
  padding: 20px;
}

h2 {
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 30px;
  color: #592f0a;
  text-align: center;
  font-weight: 700;
  margin: 30px 30px 0 30px;
  padding: 10px;
  border-radius: 10px;
  border-color: #a69f3c;
  margin-top: 80px;
}

p {
  font-family: "Hiragino Sans GB";
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  color: black;
  letter-spacing: 0.05rem;
  margin: 0px 80px 0px 80px;
  padding: 30px;
  text-align: center;
  line-height: 2;
  background-color: #f2eadf41;
}

/****************** facts om italien ***********************/

h3 {
  font-family: "Galvji";
  font-size: 20px;
  font-style: normal;
  color: #982a2a;
  text-align: left;
  font-weight: 700;
  margin: 30px 30px 0 30px;
  padding: 10px;
}

.grid_1-1-1-1 {
  background-size: contain;
  font-family: "Bodoni 72 Oldstyle";
  font-style: italic;
  color: #4b4453;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin: 80px 80px 80px 80px;
}

dd {
  background-color: white;
  background-size: contain;
  font-family: "Bodoni 72 Oldstyle";
  font-style: oblique;
  color: #4b4453;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

h4 {
  font-family: "futura";
  font-size: 13px;
  font-style: normal;
  color: #592f0a;
  text-align: left;
  font-weight: 700;
  margin: 30px 80px 0px 80px;
  padding: 10px;
  background-color: #fffaf489;
}

/***************** destination***************/

.grid_1-1-1-1 h4 {
  font-family: "futura";
  font-size: 18px;
  font-style: normal;
  color: #592f0a;
  text-align: left;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
}

.grid_1-1-1-1 img {
  width: 100%;
  height: auto;
  display: block;
  padding: 30px;
  margin: 30px;
}

/*************** voreslokale*****/

.grid_1 p h4 {
  text-align: center;
  height: auto;
  width: 80%;
}
.grid_2 p h4 {
  text-align: center;
  height: auto;
  width: 80%;
}
/*************** footer *********************/

.grid_footer {
  margin: auto;
  background-size: contain;
  font-family: "noto sans";
  color: #4b4453;
  font-size: 15px;
  text-align: left;
  border-style: solid;
  border-color: rgba(201, 133, 85, 0.525);
}

h6 {
  text-align: left;
  color: #333333;
  font-size: 10px;
  margin: auto;
  padding: 5px;
  background-size: contain;
  font-family: "noto sans";
  text-align: left;
}

.grid_footer p {
  margin: auto;
  padding: 5px;
  background-size: contain;
  font-family: "noto sans";
  color: #4b4453;
  font-size: 10px;
  text-align: left;
  background-color: #f8e696;
}

/************* DESKTOP *************/
@media (min-width: 840px) {
  .grid_3 .p {
    text-align: left;
  }
}
