/*********mobilsite********/
@media (max-width: 840px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 15px;
  }

  dt {
    margin: auto;
    padding: 6px;
    background-size: contain;
    font-family: "noto sans";
    color: #4b4453;
    font-size: 15px;
    text-align: center;
  }
  dd {
    margin: auto;
    padding: 6px;
    background-color: white;
    background-size: contain;
    font-family: "noto sans";
    color: #4b4453;
    font-size: 15px;
    text-align: center;
  }

  .h3 {
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}

/*****MOBILSITE***********/
/********FORSIDE***********/
.img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  align-self: stretch;
  padding: 80px;
  margin: 80px;
}
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5rem;
  gap: 5rem;
}

.grid_1-1-1-1 p {
  margin-top: 0px;
  font-size: 12px;
}

.grid_1-1 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.grid_2-1 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.grid_2-1 p {
  font-style: italic;
}

/*************** facts om italien ***************/

.grid_3 p {
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-style: normal;
  color: #592f0a;
  text-align: left;
  padding: 10px;
  margin: 0px 80px 80px 80px;
}
.grid_3 h4 {
  margin-top: 30px;
  margin-bottom: 0px;
}

.grid_1-1-1 h3 {
  margin: 80px 80px 0px 80px;
}
.grid_3 h3 {
  margin: 80px 80px 0px 80px;
}
.imgsnack {
  width: 80%;
  height: auto;
  margin: 50px;
}

/*************** destination ***************/
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5px;
  gap: 5px;
}

.grid_1-1-1-1 h4 {
  font-family: "futura";
  font-size: 16px;
  font-style: normal;
  color: #592f0a;
  text-align: left;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
}

.grid_1-1-1-1 p {
  text-align: left;
  margin: 10px;
  padding: 10px;
  height: auto;
}

.img5 {
  width: 80%;
  height: auto;
  margin: 50px;
  padding: 50px;
}
.img15 {
  width: 70%;
  height: auto;
  margin: 0px 80px 0px 80px;
  padding: 30px;
}
.img16 {
  width: 80%;
  height: auto;
  margin: 0px 80px 0px 50px;
  padding: 30px;
}
.grid_1-1-1-1 h4 {
  font-family: "futura";
  font-size: 16px;
  font-style: normal;
  color: #592f0a;
  text-align: left;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
}

.grid_1-1-1-1 img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
  margin: 10px;
}

/*******vores lokale guides*******/
.grid_0-1 p {
  margin: 80px;
}

/*************** desktop ***************/
@media (min-width: 840px) {
  .img {
    width: auto;
    height: 100%;
    display: block;
    object-fit: cover;
    align-self: stretch;
  }

  .grid_1-1 {
    margin: 0px 80px 80px 80px;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 80px;
    margin: 30px 80px 80px 80px;
  }

  .grid_1-1-1-1 img {
    height: 360px;
  }

  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    order: -1;
    margin: 80px;
  }
  .grid_2-1 p {
    font-style: italic;
  }

  .imgsol {
    width: 80%;
    height: auto;
    margin-left: 80px;
  }

  /*********facts om italien**********/

  .grid_1-1-1 h3 p {
    margin: 50px;
    padding: 50px;
    text-align: left;
  }
  .grid_1-1-1 {
    margin: 0px 80px 0px 80px;
  }

  .grid_1-1-1-1 dl {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
  }

  .grid_1-1-1-1 p {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
  }

  .imgsnack {
    width: 50%;
    height: auto;
    margin: 80px;
  }

  .grid_3 {
    margin: 80px 80px 80px 80px;
  }

  /*********destination**********/
  .img5 {
    width: 80%;
    height: auto;
    margin: 80px;
  }

  .search-input {
    width: 1040px;
  }

  /*********vores lokale guides********/

  .grid_0-1 p {
    margin: 80px;
  }

  .grid_2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 80px;
  }

  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 80px;
  }
  .order {
    order: 1;
  }
  .grid_1 p h4 {
    margin: 0px 80px 0px 0px;
  }

  .grid_2 p h4 {
    margin: 0px 0px 0px 80px;
  }

  .img15 {
    width: 70%;
    height: auto;
    margin: 0px 0px 0px 80px;
    padding: 30px;
  }
  .img16 {
    width: 80%;
    height: auto;
    margin: 0px 80px 0px 0px;
    padding: 30px;
  }
}
